
#file{
    text-decoration: none;
    display: none;
    outline: none;
    position: sticky;
    z-index: 5;
    left: 20px;
    width: 20%;
    padding: 5px;
    background-color: rgb(10, 236, 187);
}