#input{
    border: 2px solid rgb(150, 147, 147);
    background-color: rgb(162, 182, 236);
    padding: 5px;
    z-index: 3;
    /* position: sticky;
    bottom: 0px; */
}
.chat-input-form{
    display: flex;
    align-items: center;
}
.chat-input-form > button{
    
     border-radius: 100%;
     background-color: rgb(9, 12, 155);
}

#chat-input{
    
    margin-top: 3px;
    margin-bottom: 3px ;
    margin-left: 5px;
    margin-right: 5px;
    width: 95%;
    border-radius: 5px;
}