#sticker{
    text-decoration: none;
    display: none;
    outline: none;
    position: fixed;
    bottom: 20px;
    z-index: 5;
    
    width: 20%;
    padding: 5px;
    background-color: rgb(200, 204, 203);
    border-radius: 2px;
    padding: 2px;
   
}
#sticker >button{
    
}