#main {
  height: 100vh;
  display: grid;
  grid-auto-rows: 4rem calc(100vh - 4rem);
}

.main-view {
  position: relative;
  display: grid;
  grid-template: auto 1fr / 1fr;
  min-height: 100vh;
  @media (min-width: 600px) {
    grid-template: 1fr / minMax(20rem, 20%) 1fr;
  }
}
aside.chat-rooms {
  box-sizing: border-box;
  overflow:auto;
  background-color: #17014e;
}  

main.chat{
  overflow: auto;
  height: 100vh;
  width: 100%;  
  
  background: linear-gradient(to right, rgb(151, 150, 240), rgb(245, 154, 177));
  /* background-image: url('../backgroundpart.png'); */
   overflow: auto;
    height: 100vh;
    width: 100%;  
  @media (max-width: 600px) {
    width: 0%;
  }
   
    
 
}
/* .logs{
  margin-top: 5px;
} */
