#main {
  height: 100vh;
  display: grid;
  grid-auto-rows: 4rem calc(100vh - 4rem);
}

.main-view {
  position: relative;
  display: grid;
  grid-template: auto 1fr / 1fr;
  min-height: 100vh;
  @media (min-width: 600px) {
    grid-template: 1fr / minMax(20rem, 20%) 1fr;
  }
}
aside.chat-rooms {
  box-sizing: border-box;
  overflow:auto;
  background-color: #17014e;
}  

main.chat{
  overflow: auto;
  height: 100vh;
  width: 100%;  
  background: linear-gradient(-225deg, #9704db 0%, #7918F2 48%, #4801FF 100%),url('../backgroundpart.png') fixed; 
  background: linear-gradient(-225deg, rgba(151, 4, 219, 0.8) 0%, rgba(121, 24, 242, 0.8) 48%, rgba(72, 1, 255, 0.8) 100%), url('../backgroundpart.png');
  @media (max-width: 600px) {
    width: 0%;
  }
   
    
 
}
/* .logs{
  margin-top: 5px;
} */
