
.input-chat-send{
    grid-row: 2;
    position:absolute;
    bottom: 0px; 
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(177, 226, 226);
    height: 60px;
    box-sizing: border-box;
}  
.chat-input-box{
    width: 90%;
    height: 40px;
    border: none;
    box-shadow: none;
    border-radius: 20px 20px 20px 20px;
    padding: 2px;
    text-align: start;
}
@media (min-width: 600px) {
    .input-chat-send {
        grid-column: 2 / 3; /* Input in the second column */
        grid-row: 2 / 3;
      }
    }