
.input-chat-send{
    @media (max-width:600px) {
         display: none;
    }
    grid-row: 2;
    position:absolute;
    bottom: 0px; 
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #8f94fb, #4e54c8);
    height: 60px;
    box-sizing: border-box;
}  
.input-chat-send > button{
    box-shadow: none;
    border: none;
    border-radius: 50%;
}
.box-lay{
    position: fixed;
    right:30px;
    bottom: 65px;
    background-color: white;
    z-index: 20;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 7px;
    border-radius: 5px;
    display: none;
}
.icon-wrap{

    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    padding: 3px;
}
.box-icon{
     border-radius: 100%;
     background-color: #ff488b;
     text-align: center;
     padding: 2px;
     margin-right: 2px;
}

.list{
    width: 100%;
    display: inline-flex;
    padding: 3px;
}

 .additional{
    align-items: center;
    text-align: center;
    margin-right: 2px;
     background-color:  #ff488b;
     color: aliceblue;
    border-radius: 50%;
}
.input-chat-send >.send-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    text-align: center;
    color:white;
    background-color: #ff488b;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.chat-input-box{
    width: 90%;
    height: 40px;
    border: none;
    box-shadow: none;
    border-radius: 20px 20px 20px 20px;
    padding: 2px;
    text-align: start;
}
@media (min-width: 600px) {
    .input-chat-send {
        grid-column: 2 / 3; 
        grid-row: 2 / 3;
      }
    }
