body {
  background: #f6f4f2;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.containerxx {
  width: 90%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  border: 2px solid white;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  animation: fadeIn 1s ease-in-out;
  margin-top: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wel1x {
  margin: 20px 0;
  font-size: 28px;
  color: #425664;
  font-weight: 600;
  animation: slideIn 0.8s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.heading1x {
  margin-top: 0;
  color: #f92c85;
  font-size: 60px;
  font-family: "Kaushan Script", cursive;
  animation: come 1s ease-out;
}

@keyframes come {
  0% {
    transform: scale(0.0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.email1x {
  width: calc(100% - 30px);
  margin: 20px auto;
  height: 45px;
  border: 1px solid #c6ad8f;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 16px;
  box-sizing: border-box;
  background: #ffffff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.email1x:focus {
  border-color: #425664;
  outline: none;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.loginx {
  width: 100%;
  height: 45px;
  background-color: #f92c85;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  padding: 10px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.loginx:hover {
  background-color: #d22a7e;
  transform: scale(1.05);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.forgetx {
  margin-top: 10px;
}

.forgetx a {
  color: #425664;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.forgetx a:hover {
  color: #f92c85;
}

.ask1x {
  margin-top: 20px;
  font-size: 14px;
}

.ask1x a {
  color: #f92c85;
  text-decoration: none;
  transition: color 0.3s;
}

.ask1x a:hover {
  color: #e579af;
}

@media screen and (max-width: 768px) {
  .containerxx {
    width: 95%;
    padding: 15px;
  }

  .loginx {
    height: 40px;
    font-size: 16px;
  }
}
