/* StarBackground.css */
.star-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(0, 0, 0);
    /* filter: blur(4px); */
    
    z-index: -1;
}
  
  @keyframes stars-fall {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(100%);
    }
  }
  
  .star {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(208, 117, 247);
    -webkit-filter: blur(7px);
    border-radius: 50%;
    opacity: 0.8;
    animation: star-fall linear infinite;
  }
  
  @keyframes star-fall {
    0% {
      transform: translateY(0) scale(1) rotate(0deg);
    }
    100% {
      transform: translateY(100vh) scale(0) rotate(359deg);
    }
  }
  