h1{
    text-align: center;
}
@keyframes loadIn{
    0%{
        opacity: 0;
        transform:translateY(-80px) scale(0);
    }
    100%{
        opacity:1;
        transform:translateY(0px) scale(1);
    }
}
.container12{
    margin-top: 30px;
    width:70%;
    margin-left: 15%;
    background-color: rgba(0,0,0,0.7);
    color: rgb(179, 0, 255);
    height: 100%;
}
.cont2{
    height: 100%;
    width:70%;
    margin-left: 15%;
    animation: loadIn 0.5s;
}
@media screen and (max-width:800px) {
    .container12{
        width: 90%;
        margin-left: 5%;
    }
}