.containxx{
    background-color: #f9ffea;
    height: 70px;
    border: 0.5px solid rgb(183, 180, 180);
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    transition: all 0.7s ease;
}
.contain:hover{
    transform: scale(1.02);
}
.user-image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lightgray;
    margin-left:15px ;
}
.sendreq{
    height: 40px;
    width: 100px;
    background-color: #9704db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}
.sendreq:hover{
    background-color: #cb7bf0;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px,  rgba(0, 0, 0, 0.12) 0px 4px 6px,  rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}